@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');

body {
  font-family: 'Playpen Sans', sans-serif;
  background-image: url('./travel.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  background-attachment: fixed; 
}

div {
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.8); /* Make the background a bit transparent */
  padding: 8px;
  border-radius: 15px; /* Curve the borders, make it round */
}

h2 {
  margin-bottom: 5px; 
}

form {
  display: flex; /* Align input field and button to be side by side */
  align-items: center; 
  margin-left: 1em;
}

input[type="text"] {
  padding: 10px;
  width: 13.2em; /* Have the input field to be a certain length */
  margin-bottom: 5px;
  margin-right: 5px; /* Add some space between the input field and button */
}

button {
  padding: 10px;
  display: inline-block;
}

ul {
  list-style-type: none; /* Remove the bullets */
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 5px 0;
}

li .item {
  flex-grow: 1; /* Make sure the item text takes up available space */
}

li .actions {
  display: flex;
  align-items: center; 
  gap: 5px; /* Small space between the buttons */
}

.accordion-label {
  font-family: 'Playpen Sans', sans-serif;
  font-size: 24px;
}

@media (max-width: 400px) {
  body {
    background-image: url('./travel3.jpg'); /* Changes the background image */
  }

  li .actions {
    flex-direction: row; /* Make sure buttons are side by side */
  }

  button {
    margin-left: 5px; /* Adds a small margin between the buttons */
  }

  input[type="text"] {
    width: 11em; /* Adjusts the input width for smaller screens, so the button doesn't go under it */
  }
}